input, textarea{
    margin:1rem;
    padding:1rem 2rem;
    text-align:left;
    font-size:1.5rem !important;
    border-radius:5px;
    border:1px solid #0d6efd !important;
    box-shadow: -3px 3px 5px #999;   
    line-height:2rem; 
}
textarea{
    height:20rem;
    max-height: 15rem;
}
label{
    font-size:1.25rem;
    font-weight:bold;
    width:10rem;
}

.form-group{
    margin:1rem 10rem 1.85rem 10rem;
}