.navbar-header h1 a{
    font-size:40px;
    padding:1rem;}
.navbar-nav {
    display:flex;
    flex-direction:row !important;
    }
.navbar-nav li a{
    font-size:1.3rem;
    margin:1rem;
    text-decoration: none;
    color:rgb(120, 38, 179);
    f!ont-variant: small-caps;
    font-weight: 400;
}
.lighter{
    color:rgb(120, 38, 179);
    font-style: italic;
    font-variant: small-caps;
}