.navbar{
    background-image: linear-gradient(rgb(107, 21, 107), rgb(0, 0, 0));
}
.navbar-header h1 a{
    font-size:40px;
    padding:1rem;}
.navbar-nav {
    display:flex;
    flex-direction:row !important;
    }
.navbar-nav li a{
    font-size:1.3rem;
    margin:1rem;
    text-decoration: none;
    color:rgb(241, 208, 18);
    f!ont-variant: small-caps;
    font-weight: 400;
}
.navbar-nav li a:hover{
    font-size:1.3rem;
    margin:1rem;
    text-decoration: none;
    color:rgb(202, 109, 245);
    f!ont-variant: small-caps;
    font-weight: 400;
}
.lighter{
    color:rgb(173, 117, 212);
    font-style: italic;
    font-variant: small-caps;
}